*
{
    font-family: 'Roboto', sans-serif;
}

/* -------------------------------------------------- NAVEGATION --------------------------------------------------*/
header
{
    position: fixed;
    width: 100vw;
    height: 72px;
    z-index: 99;
}

nav
{
    position: absolute;
    background: #0B0D17;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-shadow: 0px 1px 0px #E5E9F2;
}

.logo
{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 165px;
    top: calc(50% - 28px/2);
}

#logoName
{
    position: absolute;
    font-size: 24px;
    font-weight: bolder;
    left: 40%;
    right: 0%;
    top: 10%;
    bottom: 10%;
}

#logoName a
{
    color: #EA741F;
    text-decoration: none;
}

#logoImg
{
    position: absolute;
    color: #EA741F;
    font-size: 30px;
    left: 0%;
    right: 73.33%;
    top: 0%;
    bottom: 0%;
}

.navLinks
{
    color: #FFFFFF;
    list-style: none;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    
}

.navLinks li
{
    margin-right: 25px;
}

.navLinks li a
{
    color: #FFFFFF;
}

/* -------------------------------------------------- SEARCH BAR --------------------------------------------------*/
.search
{
    position: relative;
    margin: 0 0 0 10px;
}

#searchOptions
{
    position: absolute;
    display: none;
    width: 200px;
    top: 38px;
    list-style: none;
    background-color: gray;
    padding: 0;
}

#searchOptions button
{
    width: 100%;
    border: 1px solid #fff;
    background-color: rgb(73, 129, 194);
}

#searchOptions button:hover
{
    opacity: .5;
}

#searchBar
{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
}

#searchIcon
{
    border-radius: 0;
    border: 1px #FFFFFF solid;
}

#searchIcon:hover
{
    background-color: #EA741F;
}

.navBtn
{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    right: 80px;
    top: calc(50% - 40px/2);
}

.navBtn button
{
    width: 90px;
    height: 35px;
    margin-right: 25px;
    color: #FFFFFF;
    font-weight: bolder;
    border: none;
    background-color: #EA741F;
}

.navBtn button:hover
{
    background-color: #c75d12;
    color: #000000;
    transition: .5s;
}

/* -------------------------------------------------- MODAL LOG --------------------------------------------------*/
h5
{
    margin-left: 40%;
}

#googleBtn, #googleRegister
{
    background-color: #fff;
    color: gold;
}
#microBtn, #microRegister
{
    background-color: #fff;
    color: rgb(30, 93, 228);
}
#appleBtn, #appleRegister
{
    background-color: #fff;
    color: rgb(184, 17, 17);
}

#closeBtnForm
{
    border-radius: 3px;
    background-color: rgb(160, 28, 28);
    color: #fff;
    border: none;
}

/* -------------------------------------------------- CONTENT --------------------------------------------------*/
.content
{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
   
/* -------------------------------------------------- INTRO --------------------------------------------------*/
.intro
{
    position: relative;
    width: 100vw;
    height: 600px;
    /* border: 3px blue solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.icon
{
    position: absolute;
    color: #EA741F;
    font-size: 40px;
    opacity: .8;
    z-index: -10;
}

#icon1
{
    font-size: 50px;
    transform: rotate(15deg);
    top: 17%;
    right: 10%;
}

#icon2
{
    transform: rotate(15deg);
    transform: rotateY(180deg);
    top: 5%;
    left: 10%;
}

#icon3
{
    font-size: 50px;
    top: 35%;
    right: 10%;
}

#icon4
{
    transform: rotate(20deg);
    top: 55%;
    left: 15%;
}

#icon5
{
    transform: rotate(-20deg);
    top: 65%;
    right: 15%;
}

#icon6
{
    color: #ffffff0c;
    font-size: 260px;
    bottom: 0%;
    left: -10%;
    z-index: 1;
}

#img1
{
    position: absolute;
    font-size: 350px;
    transform: rotate(135deg);
    opacity: 1;
    top: -1.5%;
    right: -6%;
}

#title1
{
    font-size: 45px;
    font-weight: bolder;
}

#getStarted
{
    width: 175px;
    height: 50px;
    font-weight: bolder;
    border: none;
    background-color: #EA741F;
}

#getStarted:hover
{
    background-color: #c75d12;
    color: #000000;
    transition: .5s;
}

.grid
{
    width: 35%;
    height: 470px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3,.3fr);
    grid-template-rows: repeat(2,.3fr);
    grid-gap: 10px;
}

.grid img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.grid img:hover
{
    opacity: .75;
}

.grid img:first-child
{
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid img:nth-child(4)
{
    height: 50%;
    grid-column: span 3;
}

/* -------------------------------------------------- ARTIST --------------------------------------------------*/
.artist
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 700px;
    /* border: 3px red solid; */
}

#img2
{
    position: absolute;
    font-size: 350px;
    opacity: 1;
    top: 10%;
    left: -11%;
}

.titles
{
    font-size: 36px;
    font-weight: bolder;
}

.artistGrid
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 400px;
    margin-top: 30px;
}

.row
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.artistPicture
{
    font-weight: bolder;
    color: #000000;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artistPicture img
{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.artistPicture img:hover
{
    opacity: .75;
}

.miniBtn
{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.miniBtn i:hover
{
    color: #EA741F;
    transition: .5;
}

/* -------------------------------------------------- MUSIC --------------------------------------------------*/
.musicSection
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 850px;
  gap: 50px;
}

.music
{
    color: white;
    height: 200px;
    min-width: 400px;
    width: 500px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 15px -1px rgba(0,0,0,0.5);
}

.overlay 
{
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    z-index: 2;
    background: -moz-linear-gradient(-45deg, #333 0%, #222 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #333 0%,#222 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #333 0%,#222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: .9;
}

.musicContent 
{
    text-align: center;
    position: relative;
    z-index: 3;
}
    
.musicContent h2
{
    font-size: 1.4em;
    margin: 35px 0 0 0;
    font-weight: 600;
}
    
.musicContent h3 
{
    margin: 7px 0 15px 0;
    font-size: 1em;
    opacity: .4;
}

.progress
{
    margin: 0 0 15px 0;
}

.progress input
{
    width: 100%;
    background: -moz-linear-gradient(left, #0e61ce 0%, #EA741F 100%); /*#3498db FF3.6-15 */
    background: -webkit-linear-gradient(left, #0e61ce 0%,#EA741F 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0e61ce 0%,#EA741F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    appearance:         none;
}
        
.progress input::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}
    
.musicControls
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
        
}

.musicColumn 
{
    float: left;
    margin-left: .75em;
    
}

.musicColumn:nth-child(1)
{
    position: absolute;
    left: 20%;
}

.musicColumn:nth-child(2)
{
    font-size: 1.8em;
    position: absolute;
    left: 27%;
}

.musicColumn:nth-child(5)
{
    font-size: 1.8em;
    position: absolute;
    left: 55%;
}

.musicColumn:nth-child(3) 
{
    font-size: 2em;
    position: absolute;
    left: 40%;
}

.musicColumn:nth-child(4) 
{
    font-size: 2em;
    position: absolute;
    left: 40%;
    /* color: #9b59b6; */
}

.musicColumn i 
{
    margin: 0 5px;
    cursor: pointer;
}

.musicVolume
{
    display: flex;
    flex-direction: column;
}

.musicVolume:hover > #volume1
{
    display: block;
}
.musicVolume:hover > #volume2
{
    display: block;
}
.musicVolume:hover > #volume3
{
    display: block;
}

#volumeMusic1,#volumeMusic2,#volumeMusic3
{
    position: absolute;
    bottom: 10%;
    left: 70%;
}

#muteMusic1,#muteMusic2,#muteMusic3
{
    position: absolute;
    bottom: 10%;
    left: 70%;
}

#volume1,#volume2,#volume3
{
    position: absolute;
    bottom: 58%;
    left: 60%;
    display: none;
    transform: rotate(-90deg);
}

.musicTime
{
    display: flex;
    font-weight: bolder;
    font-size: 16px;
    position: absolute;
    right: 3%;
    bottom: -3%;
}


/* -------------------------------------------------- FEACTURES --------------------------------------------------*/
.feactures
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 600px;
    /* border: 3px green solid; */
}

.elements
{
    display: flex;
    margin-top: 50px;
}

.element
{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px #EA741F solid;
    box-shadow: 1px 1px 10px rgb(85, 85, 85);
}

.element h6
{
    font-size: 22px;
    font-weight: bolder;
}

.element i
{
    font-size: 40px;
    margin: 10px 0 10px 0;
}

.element a
{
    background-color:  #EA741F;
    font-weight: bolder;
    color: #FFFFFF;
    border: none;
}

.element a:hover
{
    background-color: #c75d12;
    color: #000000;
    transition: .5s;
}

#img3
{
    position: absolute;
    font-size: 350px;
    transform: rotate(-135deg);
    opacity: 1;
    right: -10%;
    bottom: -5%;
    z-index: -1;
}

/* -------------------------------------------------- FOOTER --------------------------------------------------*/
footer
{
  position: relative;
  bottom: 0%;
}

.foot
{
    display: flex;
    background: #0B0D17;
    width: 100vw;
    height: 250px;
    gap: 10em;
}

.brand
{
    display: flex;
    flex-direction: column;
}

.logoFooter
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 50px 0 0 250px;
}

#logoFoot
{
    color: #EA741F;
    font-size: 45px;
}

#logoFoot a
{
    font-size: 28px;
    font-weight: bolder;
    color: #EA741F;
    text-decoration: none;
}

.social
{
    margin-left: 210px;
}

.social ul
{
    display: flex;
    gap: 30px;
    list-style: none;
}

.social i
{
    font-size: 20px;
}

.info
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info ul
{
    list-style: none;
    font-size: 15px;
    margin-top: 3em;
    margin-left: 5em;
}

.info li
{
    margin-bottom: 15px;
}

.info a
{
    color: #FFFFFF;
}

.info a:hover
{
    color: #a5a5a5;
    transition: .5s;
}