* {
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(190, 190, 190);
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #EA741F;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aa5316;
}

/* -------------------------------------------------- NAVEGATION --------------------------------------------------*/
header {
  background: #0B0D17;
  position: fixed;
  width: 100%;
  height: 72px;
  z-index: 99;
}
header #check {
  display: none;
}
header .checkbtn {
  display: none;
  font-size: 30px;
  color: #fff;
  padding-bottom: 20px;
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0B0D17;
  box-shadow: 0px 0px 5px 0px #000;
  /* -------------------------------------------------- SEARCH BAR --------------------------------------------------*/
}
header nav .logo {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
header nav #logoName {
  font-size: 24px;
  font-weight: bolder;
}
header nav #logoName a {
  color: #EA741F;
  text-decoration: none;
}
header nav #logoImg {
  color: #EA741F;
  font-size: 30px;
}
header nav .navLinks {
  color: #FFFFFF;
  list-style: none;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
}
header nav .navLinks li {
  padding: 0 30px 0 0;
}
header nav .navLinks a {
  color: #FFFFFF;
}
header nav .search {
  display: flex;
  position: relative;
  margin: 0 0 0 10px;
}
header nav #searchOptions {
  position: absolute;
  display: none;
  width: 200px;
  top: 38px;
  list-style: none;
  background-color: gray;
  padding: 0;
}
header nav #searchOptions button {
  width: 100%;
  border: 1px solid #fff;
  background-color: rgb(73, 129, 194);
}
header nav #searchOptions button:hover {
  opacity: 0.5;
}
header nav #searchBar {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
}
header nav #searchIcon {
  border-radius: 0;
  border: 1px #FFFFFF solid;
}
header nav #searchIcon:hover {
  background-color: #EA741F;
}
header nav .navBtn button {
  width: 90px;
  height: 40px;
  margin-right: 25px;
  color: #FFFFFF;
  font-weight: bolder;
  border: none;
  background-color: #EA741F;
}
header nav .navBtn button:hover {
  background-color: #c75d12;
  color: #000000;
  transition: 0.5s;
}

/* -------------------------------------------------- CONTENT --------------------------------------------------*/
.content {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* -------------------------------------------------- MODAL LOG --------------------------------------------------*/
  /* -------------------------------------------------- INTRO --------------------------------------------------*/
  /* -------------------------------------------------- ARTIST --------------------------------------------------*/
  /* -------------------------------------------------- MUSIC --------------------------------------------------*/
  /* -------------------------------------------------- FEACTURES --------------------------------------------------*/
}
.content h5 {
  margin-left: 40%;
}
.content #googleBtn, .content #googleRegister {
  background-color: rgb(175, 175, 175);
  color: gold;
  border: none;
}
.content #microBtn, .content #microRegister {
  background-color: rgb(175, 175, 175);
  color: rgb(30, 93, 228);
  border: none;
}
.content #appleBtn, .content #appleRegister {
  background-color: rgb(175, 175, 175);
  color: rgb(184, 17, 17);
  border: none;
}
.content #closeBtnForm {
  border-radius: 1px;
  background-color: rgb(160, 28, 28);
  color: #fff;
  border: none;
}
.content .icon {
  position: absolute;
  color: #EA741F;
  font-size: 40px;
  opacity: 0.8;
  z-index: -10;
  -webkit-animation: pulse 3s ease-in-out infinite;
          animation: pulse 3s ease-in-out infinite;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
.content #icon1 {
  font-size: 50px;
  transform: rotate(15deg);
  top: 17%;
  right: 10%;
  -webkit-animation: none;
          animation: none;
}
.content #icon2 {
  transform: rotate(15deg);
  transform: rotateY(180deg);
  top: 5%;
  left: 10%;
}
.content #img1 {
  position: absolute;
  color: #EA741F;
  width: 350px;
  height: 350px;
  transform: rotate(135deg);
  opacity: 1;
  top: -1.5%;
  right: -6%;
}
.content h2 {
  font-size: 36px;
  font-weight: bolder;
}
.content .intro {
  position: relative;
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.content .intro .firstContent h2 {
  font-size: 45px;
  font-weight: bolder;
}
.content .intro .firstContent button {
  width: 175px;
  height: 50px;
  font-weight: bolder;
  border: none;
  background-color: #EA741F;
  box-shadow: 0px 0px 3px 0px #000000;
}
.content .intro .firstContent button:hover {
  background-color: #c75d12;
  color: #000000;
  transition: 0.5s;
}
.content .grid {
  width: 35%;
  height: 470px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-template-rows: repeat(2, 0.3fr);
  grid-gap: 10px;
}
.content .grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.content .grid img:hover {
  opacity: 0.75;
}
.content .grid img:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.content .grid img:nth-child(4) {
  height: 50%;
  grid-column: span 3;
}
.content .artist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 700px;
  /* border: 3px red solid; */
}
.content .artist #img2 {
  position: absolute;
  color: #EA741F;
  width: 350px;
  height: 350px;
  opacity: 1;
  top: 10%;
  left: -10%;
  z-index: -10;
}
.content .artist #icon3 {
  font-size: 50px;
  top: 35%;
  right: 10%;
}
.content .artist .artistGrid {
  width: auto;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.content .artist .artistGrid .artistPicture {
  font-weight: bolder;
  color: #000000;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .artist .artistGrid .artistPicture h6 {
  font-weight: bold;
  margin-top: 3px;
}
.content .artist .artistGrid .artistPicture img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #000000;
}
.content .artist .artistGrid .artistPicture img:hover {
  opacity: 0.75;
}
.content .artist .artistGrid .artistPicture .miniBtn {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.content .artist .artistGrid .artistPicture .miniBtn i:hover {
  color: #EA741F;
  transition: 0.5;
}
.content .musicSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 850px;
  gap: 50px;
}
.content .musicSection #icon4 {
  transform: rotate(20deg);
  top: 55%;
  left: 15%;
}
.content .musicSection #icon5 {
  transform: rotate(-20deg);
  top: 65%;
  right: 15%;
}
.content .musicSection .music {
  color: white;
  height: 200px;
  min-width: 400px;
  width: 500px;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
}
.content .musicSection .music .overlay {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  z-index: 2; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #333 0%, #222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0.9;
}
.content .musicSection .music .musicContent {
  text-align: center;
  position: relative;
  z-index: 3;
}
.content .musicSection .music .musicContent h2 {
  font-size: 1.4em;
  margin: 35px 0 0 0;
  font-weight: 600;
}
.content .musicSection .music .musicContent h3 {
  margin: 7px 0 15px 0;
  font-size: 1em;
  opacity: 0.4;
}
.content .musicSection .music .musicContent .progress {
  margin: 0 0 15px 0;
}
.content .musicSection .music .musicContent .progress input {
  width: 100%; /*#3498db FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0e61ce 0%, #EA741F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.content .musicSection .music .musicContent .progress input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
.content .musicSection .music .musicContent .musicControls {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .musicSection .music .musicContent .musicControls .musicColumn {
  float: left;
  margin-left: 0.75em;
}
.content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(1) {
  position: absolute;
  left: 20%;
}
.content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(2) {
  font-size: 1.8em;
  position: absolute;
  left: 27%;
}
.content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(5) {
  font-size: 1.8em;
  position: absolute;
  left: 55%;
}
.content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(3) {
  font-size: 2em;
  position: absolute;
  left: 40%;
}
.content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(4) {
  font-size: 2em;
  position: absolute;
  left: 40%;
}
.content .musicSection .music .musicContent .musicControls .musicColumn i {
  margin: 0 5px;
  cursor: pointer;
}
.content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume {
  display: flex;
  flex-direction: column;
}
.content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume:hover > #volume1 {
  display: block;
}
.content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume:hover > #volume2 {
  display: block;
}
.content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume:hover > #volume3 {
  display: block;
}
.content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volumeMusic1, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volumeMusic2, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volumeMusic3 {
  position: absolute;
  bottom: 10%;
  left: 70%;
}
.content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #muteMusic1, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #muteMusic2, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #muteMusic3 {
  position: absolute;
  bottom: 10%;
  left: 70%;
}
.content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volume1, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volume2, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volume3 {
  position: absolute;
  bottom: 58%;
  left: 60%;
  display: none;
  transform: rotate(-90deg);
}
.content .musicSection .music .musicContent .musicControls .musicColumn:hover {
  color: #EA741F;
}
.content .musicSection .music .musicContent .musicControls .musicTime {
  display: flex;
  font-weight: bolder;
  font-size: 16px;
  position: absolute;
  right: 3%;
  bottom: -3%;
}
.content .feactures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100vw;
  height: 600px;
}
.content .feactures .elements {
  display: flex;
}
.content .feactures .elements .element {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .feactures .elements .element .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px #EA741F solid;
  box-shadow: 1px 1px 10px rgb(85, 85, 85);
}
.content .feactures .elements .element h6 {
  font-size: 22px;
  font-weight: bolder;
}
.content .feactures .elements .element i {
  font-size: 40px;
  margin: 10px 0 10px 0;
}
.content .feactures .elements .element a {
  background-color: #EA741F;
  font-weight: bolder;
  color: #FFFFFF;
  border: none;
}
.content .feactures .elements .element a:hover {
  background-color: #c75d12;
  color: #000000;
  transition: 0.5s;
}
.content .feactures #img3 {
  position: absolute;
  color: #EA741F;
  width: 350px;
  height: 350px;
  transform: rotate(-135deg);
  opacity: 1;
  right: -7%;
  bottom: -4%;
  z-index: -1;
}

/* -------------------------------------------------- FOOTER --------------------------------------------------*/
footer {
  position: relative;
  bottom: 0%;
}
footer .foot {
  display: flex;
  background: #0B0D17;
  width: 100%;
  height: 250px;
  gap: 10em;
  box-shadow: 0px 0px 5px 0px #000;
}
footer .foot #icon6 {
  position: absolute;
  color: rgba(255, 255, 255, 0.0470588235);
  font-size: 260px;
  bottom: 0%;
  left: -10%;
  z-index: 1;
}
footer .foot .brand {
  display: flex;
  flex-direction: column;
}
footer .foot .brand .logoFooter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 50px 0 0 250px;
}
footer .foot .brand #logoFoot {
  color: #EA741F;
  font-size: 45px;
}
footer .foot .brand #logoFoot a {
  font-size: 28px;
  font-weight: bolder;
  color: #EA741F;
  text-decoration: none;
}
footer .foot .social {
  margin-left: 210px;
}
footer .foot .social ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
footer .foot .social i {
  font-size: 20px;
}
footer .foot .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot .info ul {
  list-style: none;
  font-size: 15px;
  margin-top: 3em;
  margin-left: 5em;
}
footer .foot .info li {
  margin-bottom: 15px;
}
footer .foot .info a {
  color: #FFFFFF;
}
footer .foot .info a:hover {
  color: #a5a5a5;
  transition: 0.5s;
}

/* -------------------------------------------------- WIDTH 1024 PX --------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  header .checkbtn {
    display: block;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 10px 0 0 20px;
    color: #EA741F;
    font-size: 30px;
  }
  header #check:checked ~ nav {
    left: 0;
  }
  header nav {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    position: fixed;
    width: 70%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5;
  }
  header nav .navLinks {
    flex-direction: column;
    gap: 50px;
  }
  .content #img1 {
    position: absolute;
    top: -3%;
    right: -12%;
  }
  .content .artist #img2 {
    top: 10%;
    left: -22%;
  }
  .content .artist #icon3 {
    right: 5%;
  }
  .content .feactures .elements .element {
    width: 300px;
  }
  .content .feactures #img3 {
    right: -10%;
    bottom: -4%;
  }
}
/* -------------------------------------------------- WIDTH 768 PX --------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .content .intro {
    gap: 10px;
  }
  .content .intro .grid {
    width: 50%;
  }
  .content .artist {
    margin-bottom: 60%;
  }
  .content .artist #img2 {
    position: absolute;
    color: #EA741F;
    width: 350px;
    height: 350px;
    opacity: 1;
    top: 10%;
    left: -10%;
    z-index: -10;
  }
  .content .artist #icon3 {
    font-size: 50px;
    top: 35%;
    right: 10%;
  }
  .content .artist .artistGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .content .feactures {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .content .feactures .elements {
    margin-top: 0px;
  }
  .content .feactures .elements .element {
    margin-bottom: 20px;
  }
  footer .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0B0D17;
    width: 100%;
    height: 350px;
    gap: 1em;
  }
  footer .foot #icon6 {
    position: absolute;
    color: rgba(255, 255, 255, 0.0470588235);
    font-size: 260px;
    bottom: 0%;
    left: -20%;
    z-index: 1;
  }
  footer .foot .brand {
    display: flex;
    flex-direction: column;
  }
  footer .foot .brand .logoFooter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 50px 0 0 50px;
  }
  footer .foot .brand #logoFoot {
    color: #EA741F;
    font-size: 45px;
  }
  footer .foot .brand #logoFoot a {
    font-size: 28px;
    font-weight: bolder;
    color: #EA741F;
    text-decoration: none;
  }
  footer .foot .social {
    margin-left: 10px;
  }
  footer .foot .social ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  footer .foot .social i {
    font-size: 20px;
  }
  footer .foot .info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .foot .info ul {
    list-style: none;
    font-size: 15px;
    margin-top: 3em;
    margin-left: 5em;
  }
  footer .foot .info li {
    margin-bottom: 15px;
  }
  footer .foot .info a {
    color: #FFFFFF;
  }
  footer .foot .info a:hover {
    color: #a5a5a5;
    transition: 0.5s;
  }
}
/* -------------------------------------------------- WIDTH 425 PX --------------------------------------------------*/
@media only screen and (max-width: 425px) {
  .content {
    /* -------------------------------------------------- MUSIC --------------------------------------------------*/
  }
  .content .intro {
    flex-direction: column;
    margin-top: 50%;
  }
  .content .intro .grid {
    width: 90%;
    margin-top: 50px;
  }
  .content .artist {
    margin-bottom: 475%;
  }
  .content .artist #img2 {
    position: absolute;
    color: #EA741F;
    width: 350px;
    height: 350px;
    opacity: 1;
    top: 10%;
    left: -10%;
    z-index: -10;
  }
  .content .artist #icon3 {
    font-size: 50px;
    top: 35%;
    right: 10%;
  }
  .content .artist .artistGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
  }
  .content .musicSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 850px;
    gap: 50px;
  }
  .content .musicSection #icon4 {
    transform: rotate(20deg);
    top: 55%;
    left: 15%;
  }
  .content .musicSection #icon5 {
    transform: rotate(-20deg);
    top: 65%;
    right: 15%;
  }
  .content .musicSection .music {
    color: white;
    height: 200px;
    width: 100px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
  }
  .content .musicSection .music .overlay {
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    z-index: 2; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #333 0%, #222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 0.9;
  }
  .content .musicSection .music .musicContent {
    text-align: center;
    position: relative;
    z-index: 3;
  }
  .content .musicSection .music .musicContent h2 {
    font-size: 1.4em;
    margin: 35px 0 0 0;
    font-weight: 600;
  }
  .content .musicSection .music .musicContent h3 {
    margin: 7px 0 15px 0;
    font-size: 1em;
    opacity: 0.4;
  }
  .content .musicSection .music .musicContent .progress {
    margin: 0 0 15px 0;
  }
  .content .musicSection .music .musicContent .progress input {
    width: 100%; /*#3498db FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0e61ce 0%, #EA741F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .content .musicSection .music .musicContent .progress input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
  }
  .content .musicSection .music .musicContent .musicControls {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn {
    float: left;
    margin-left: 0.75em;
    margin-top: 0.75em;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(1) {
    position: absolute;
    left: 20%;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(2) {
    font-size: 1.5em;
    position: absolute;
    left: 27%;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(5) {
    font-size: 1.5em;
    position: absolute;
    left: 55%;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(3) {
    font-size: 1.7em;
    position: absolute;
    left: 40%;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn:nth-child(4) {
    font-size: 1.7em;
    position: absolute;
    left: 40%;
    /* color: #9b59b6; */
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn i {
    margin: 0 5px;
    cursor: pointer;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume {
    display: flex;
    flex-direction: column;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume:hover > #volume1 {
    display: block;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume:hover > #volume2 {
    display: block;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume:hover > #volume3 {
    display: block;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volumeMusic1, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volumeMusic2, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volumeMusic3 {
    position: absolute;
    bottom: 6%;
    left: 70%;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #muteMusic1, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #muteMusic2, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #muteMusic3 {
    position: absolute;
    bottom: 6%;
    left: 70%;
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volume1, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volume2, .content .musicSection .music .musicContent .musicControls .musicColumn .musicVolume #volume3 {
    position: absolute;
    bottom: 58%;
    left: 60%;
    display: none;
    transform: rotate(-90deg);
  }
  .content .musicSection .music .musicContent .musicControls .musicColumn:hover {
    color: #EA741F;
  }
  .content .musicSection .music .musicContent .musicControls .musicTime {
    display: flex;
    font-weight: bolder;
    font-size: 16px;
    position: absolute;
    right: 40%;
    bottom: 15%;
  }
  .content .feactures {
    margin-top: 100px;
    margin-bottom: 500px;
    flex-direction: row;
  }
  .content .feactures .elements {
    flex-direction: column;
    margin-top: 10px;
  }
  .content .feactures .elements .element {
    margin-bottom: 10px;
  }
  footer .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0B0D17;
    width: 100%;
    height: 350px;
    gap: 1em;
  }
  footer .foot #icon6 {
    position: absolute;
    color: rgba(255, 255, 255, 0.0470588235);
    font-size: 260px;
    bottom: 0%;
    left: -50%;
    z-index: 1;
  }
  footer .foot .brand {
    display: flex;
    flex-direction: column;
  }
  footer .foot .brand .logoFooter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 50px 0 0 30px;
  }
  footer .foot .brand #logoFoot {
    color: #EA741F;
    font-size: 45px;
  }
  footer .foot .brand #logoFoot a {
    font-size: 28px;
    font-weight: bolder;
    color: #EA741F;
    text-decoration: none;
  }
  footer .foot .social {
    margin-left: -10px;
  }
  footer .foot .social ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  footer .foot .social i {
    font-size: 20px;
  }
  footer .foot .info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  footer .foot .info ul {
    list-style: none;
    font-size: 15px;
    margin-top: 3em;
    margin-left: 0em;
  }
  footer .foot .info li {
    margin-bottom: 15px;
  }
  footer .foot .info a {
    color: #FFFFFF;
  }
  footer .foot .info a:hover {
    color: #a5a5a5;
    transition: 0.5s;
  }
}/*# sourceMappingURL=index.css.map */