nav
{
    #logo
    {
        margin-left: 15%;
        color: rgb(228, 153, 55);
    }

    a
    {
        margin: 0 20px 0 20px;
    }

    .search
    {
        position: relative;
        margin: 0 0 0 10px;

        #searchOptions
        {
            position: absolute;
            display: none;
            width: 190px;
            top: 38px;
            list-style: none;
            background-color: gray;
            padding: 0;

            button
            {
                width: 100%;
                border: 1px solid #fff;
                background-color: rgb(73, 129, 194);

                &:hover
                {
                    opacity: .5;
                }
            }
        }

        #searchBar
        {
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
        }
    }

    #searchIcon
    {
        border-radius: 0;

        &:hover
        {
            background-color: rgb(228, 153, 55);
        }
    }

    #signUp, #formOut
    {
        background-color: rgb(228, 153, 55);
        border: none;
    }

    #logIn, #signUp, #formOut
    {
        margin: 10px 0 10px 10px;
        width: 120px;

        &:hover
        {
            opacity: .6;
        }
    }
}

.content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-content
    {
        
        h5
        {
            margin-left: 40%;
        }

        #googleBtn, #googleRegister
        {
            background-color: #fff;
            color: gold;
        }
        #microBtn, #microRegister
        {
            background-color: #fff;
            color: rgb(30, 93, 228);
        }
        #appleBtn, #appleRegister
        {
            background-color: #fff;
            color: rgb(184, 17, 17);
        }

        #closeBtnForm
        {
            border-radius: 3px;
            background-color: rgb(160, 28, 28);
            color: #fff;
            border: none;
        }
    }

    .grid
    {
        width: 35%;
        height: 470px;
        margin: 30px 0 70px 0;
        display: grid;
        grid-template-columns: repeat(3,.3fr);
        grid-template-rows: repeat(2,.3fr);
        grid-gap: 10px;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;

            &:hover
            {
                opacity: .75;
            }
        }

        img:first-child
        {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        img:nth-child(4)
        {
            height: 50%;
            grid-column: span 3;
        }
    }

    .users
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        .userGrid
        {
            width: auto;
            height: 450px;
            margin: 0 0 20px 0;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(3,1fr);
            grid-gap: 40px;
        }

        button
        {
            width: 150px;
            height: 30px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        li
        {
            list-style: none;
            text-align: center;

            .imgUser
            {
                position: relative;

                i
                {
                    display: none;
                    position: absolute;
                    font-size: 15px;
                    color:rgb(228, 153, 55);
                    cursor: pointer;
                }
    
                #playIcon
                {
                    color:rgb(216, 199, 51);
                    font-size: 30px;
                    left: 45%;
                    top: 35%;
                }
    
                #starIcon
                {
                    left: 35%;
                    bottom: 5px;
                }
    
                #moreIcon
                {
                    font-size: 20px;
                    left: 55%;
                    bottom: 3px;
                }
    
                img
                {
                    width: 150px;
                    height: 100px;
                }
    
                &:hover
                {
                    opacity: .75;
                    transition: .5s;
    
                    i
                    {
                        display: block;
                    }
                }
            }
        }
    }

    .music
    {
        position: relative;
        width: 550px;
        height: 100px;
        margin-top: 50px;
        background-color: rgb(228, 153, 55);;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .progress
        {
            margin: 20px 0 0 40px;
            width: 80%;
        }

        .musicControl
        {
            margin: 10px 5px 0 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            i
            {
                cursor: pointer;
            }

            #pauseMusic, #playMusic, #pauseMusic2, #playMusic2, #pauseMusic3, #playMusic3
            {
                position: absolute;
                left: 10%;
                top: 60%;
            }

            #redoMusic, #redoMusic2, #redoMusic3
            {
                position: absolute;
                left: 15%;
                top: 60%;
            }

            .volumeControls:hover > #volume
            {
                display: block;
            }

            .volumeControls:hover > #volume2
            {
                display: block;
            }

            .volumeControls:hover > #volume3
            {
                display: block;
            }

            #volumeMusic, #volumeMusic2, #volumeMusic3, #volumeMute, #volumeMute2, #volumeMute3
            {
                position: absolute;
                left: 20%;
                top: 60%;
            }

            #volume, #volume2, #volume3
            {
                position: absolute;
                left: 23.5%;
                top: 60%;
                display: none;
            }

            #currentTime, #currentTime2, #currentTime3
            {
                position: absolute;
                right: 21.5%;
                top: 55%;
            }

            #totalTime, #totalTime2, #totalTime3
            {
                position: absolute;
                right: 13%;
                top: 55%;
            }
            
        }
    }
    
    .banner
    {
        width: 75%;
        margin: 100px 0 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        .card-body
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        i
        {
            font-size: 40px;
            margin: 10px 0 10px 0;
        }

        a
        {
            background-color: rgb(228, 153, 55);
            border: none;
        }
    }
}


footer
{
        position: relative;
        width: 100%;
        height: 200px;
        background-color: rgb(20, 20, 20);
        bottom: 0;

        #logoFooter
        {
            position: absolute;
            bottom: 100px;
            left: 200px;
            font-size: 40px;
            color: rgb(228, 153, 55);
            text-decoration: none;
        }
    
        .socialMedias
        {
            position: absolute;
            bottom: 30px;
            left: 125px;
            display: flex;
            flex-direction: row;
            
            li
            {
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                margin: 10px 0 0 20px;
    
                i
                {
                    font-size: 16px;
                }
    
                &:hover > a
                {
                    transform: scale(1.5);
                    transition: .5s;
                }
            }
        }
    
        .foot
        {
            position: absolute;
            bottom: 50px;
            right: 175px;
            display: flex;
            flex-direction: row;
    
            ul
            {
                list-style: none;
                margin-left: 30px;
    
                li
                {
                    margin-top: 15px;
                }
            }
    
            a
            {
                color: rgb(255, 255, 255);
            }
        }
}

@media screen and (max-width:1028px)
{
    .content
    {
        .grid
        {
            width: 50%;
            height: 350px;
        }
    }

    footer
    {
        #logoFooter
        {
            left: 100px;
        }
    
        .socialMedias
        {
            left: 25px;
        }
    
        .foot
        {
            right: 75px;
        }
    }
}


@media screen and (max-width:900px)
{
    .nav
    {
        #signUp, #logIn
        {
            margin: 10px 0 10px 0px;
        }
    }

    .content
    {
        .grid
        {
            width: 60%;
            height: 350px;
        }

        .users
        {
            .userGrid
            {
                width: auto;
                height: 600px;
                margin: 0 0 20px 0;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(4,1fr);
                grid-gap: 25px;
            }
        }

        .banner
        {
            margin-top: 50px;
            flex-direction: column;
        }
    }

    footer
    {
        display: flex;
        flex-direction: column;

        #logoFooter, .socialMedias, .foot
        {
            position: relative;
            bottom: 0;
        }
    }

}

@media screen and (max-width:600px)
{
    .content
    {
        .grid
        {
            width: 70%;
            height: 250px;
        }

        .users
        {
            .userGrid
            {
                width: auto;
                height: 900px;
                margin: 0 0 20px 0;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(6,1fr);
                grid-gap: 25px;

                img:nth-last-child()
                {
                    display: none;
                }
            }
        }

        .music
        {
            width: 450px;

            .musicControl
            {
                margin: 10px 5px 0 5px;
                
                #pauseMusic, #playMusic, #pauseMusic2, #playMusic2, #pauseMusic3, #playMusic3
                {
                    left: 13%;
                }

                #volumeMusic, #volumeMusic2, #volumeMusic3
                {
                    left: 23%;
                }

                #volume, #volume2, #volume3
                {
                    left: 30%;
                }

                #currentTime, #currentTime2, #currentTime3
                {
                    right: 28%;
                }

                #totalTime, #totalTime2, #totalTime3
                {
                    right: 16%;
                }
            }
        }
    }
}

@media screen and (max-width:400px)
{
    .content
    {
        .grid
        {
            width: 80%;
            height: 150px;
        }

        .music
        {
            width: 250px;
        }
    }
}